# First Sprint (10/27 deadline):
## Issues:
1. Find Data and Note Source

2. Read in Data

3. Convert Data to a Usable Format

4. Build Ways to Handle Errors

5. Get General Info from Data

## Issue #1: Find Data and Note Source
Data set #1: 2024 Louisville Daily Max and Min Temperatures

Data: 4147807.csv

Source: https://www.ncdc.noaa.gov/cdo-web/search

Data set #2: 2024 Louisville Daily Ozone Readings

Data: ad_viz_plotval_data.csv

Source: https://www.epa.gov/outdoor-air-quality-data/download-daily-data

## Issue #2: Read in Data

In [1]:
import pandas as pd

Reading in temperature data set:

In [4]:
temp_df = pd.read_csv("4147807.csv")
temp_df.head()

,STATION,NAME,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS
0,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-01,0.0,0.0,0.0,37,31,35
1,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-02,0.0,0.0,0.0,40,29,29
2,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-03,0.0,0.0,0.0,42,23,35
3,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-04,0.0,0.0,0.0,41,27,27
4,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-05,0.0,0.0,0.0,44,22,39

Reading in ozone data set:

In [5]:
ozone_df = pd.read_csv("ad_viz_plotval_data.csv")
ozone_df.head()

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,Units,Daily AQI Value,Local Site Name,Daily Obs Count,Percent Complete,...,AQS Parameter Description,Method Code,CBSA Code,CBSA Name,State FIPS Code,State,County FIPS Code,County,Site Latitude,Site Longitude
0,01/01/2024,AQS,180190008,1,0.018,ppm,17,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118
1,01/02/2024,AQS,180190008,1,0.022,ppm,20,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118
2,01/03/2024,AQS,180190008,1,0.024,ppm,22,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118
3,01/04/2024,AQS,180190008,1,0.025,ppm,23,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118
4,01/05/2024,AQS,180190008,1,0.024,ppm,22,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118

## Issue 3: Covert Data to a Usable Format

Checking for null values:

In [13]:
temp_df.isnull().sum()

STATION    0
NAME       0
DATE       0
PRCP       0
SNOW       0
SNWD       0
TMAX       0
TMIN       0
TOBS       0
dtype: int64

Converting date from object to datetime:

In [14]:
temp_df['DATE'] = pd.to_datetime(temp_df['DATE'])

In [15]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  366 non-null    object
 1   NAME     366 non-null    object
 2   DATE     366 non-null    datetime64[ns]
 3   PRCP     366 non-null    float64
 4   SNOW     366 non-null    float64
 5   SNWD     366 non-null    float64
 6   TMAX     366 non-null    int64
 7   TMIN     366 non-null    int64
 8   TOBS     366 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 25.9+ KB

Renaming columns, and removing unneeded columns:

In [16]:
temp_df.columns

Index(['STATION', 'NAME', 'DATE', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN',
       'TOBS'],
      dtype='object')

In [18]:
temp_df.rename(columns = {'TMAX': 'MAX_TEMP', 'TMIN': 'MIN_TEMP', 'NAME': 'STATION_NAME'})

,STATION,STATION_NAME,DATE,PRCP,SNOW,SNWD,MAX_TEMP,MIN_TEMP,TOBS
0,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-01,0.00,0.0,0.0,37,31,35
1,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-02,0.00,0.0,0.0,40,29,29
2,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-03,0.00,0.0,0.0,42,23,35
3,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-04,0.00,0.0,0.0,41,27,27
4,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-05,0.00,0.0,0.0,44,22,39
...,...,...,...,...,...,...,...,...,...
361,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-12-27,0.32,0.0,0.0,55,46,53
362,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-12-28,0.54,0.0,0.0,58,51,56
363,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-12-29,0.61,0.0,0.0,60,45,45
364,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-12-30,0.00,0.0,0.0,53,43,49
365,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-12-31,0.20,0.0,0.0,55,39,39